* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  background-color: rgb(240, 241, 247);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px 0;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.cities {
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 4px 4px 5px 1px rgba(168, 168, 168, 0.479);
  border-radius: 10px;
  width: 90vw;
  padding: 40px 20px;
  margin-bottom: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 80px;
}

.temperature {
  font-size: 38px;
  font-weight: 400;
}

.date {
  font-size: 30px;
  font-weight: 700;
}

.hide {
  opacity: 0;
}
