* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  height: 100vh;
  background-color: rgb(252, 252, 252);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 50%;
}

button {
  height: 30px;
  width: 150px;
  border: none;
  box-shadow: 4px 4px 5px 1px rgba(138, 138, 138, 0.75);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(92, 92, 92);
}

.active {
  box-shadow: 4px 4px 5px 1px rgba(36, 36, 36, 0.75);
  color: black;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 80px;
}

p {
  font-size: 18px;
}
